<!DOCTYPE html>
<html>
<head>
  <title>GoalPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav style="padding:5px">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Goal Planner</a>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
